<!DOCTYPE html>
<html {% if ng_page is defined %}ng-app="{{  ng_page }}Module" ng-controller="{{  ng_page }}Controller"{% endif %}>
    <head>
        <title>{% block title %}LExSplitter{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        {% block stylesheets %}
            {# Bootstrap #}
            {% stylesheets
                '@bootstrap_css'
                output="/css/framework.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}"  media="screen">
            {% endstylesheets %}
            {# Site specific CSS #}
            {% stylesheets
                '@TheBlackLionLExSplitterBundle/Resources/public/css/*.css'
                output="/css/app.css"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" media="screen">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" type="image/png" href="{{ asset('apple-touch-icon.png') }}" />
        <link rel="apple-touch-startup-image" type="image/png" href="{{ asset('apple-startup-image.png') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {# Bootstrap's JavaScript plugins, includes jQuery because of defined dependencies #}
            {# AngularJS #}
            {% javascripts
                "@bootstrap_js"
                "@angularjs_js"
                output="/js/framework.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {# Site specific javascript: global and services, directives #}
            {# Angular js structure follows best practice recommendation:
                https://docs.google.com/a/theblacklion.net/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/mobilebasic
               Important difference: module definition files get the suffix "-module", otherwhise we cannot make assetic
               pick the files in the right order: first module definition, then the rest.
             #}
            {% if ng_page is defined %}
                {% javascripts
                    "@TheBlackLionLExSplitterBundle/Resources/public/js/components/*/*-module.js"
                    "@TheBlackLionLExSplitterBundle/Resources/public/js/components/*/*-[!m]*.js"
                    output="/js/components.js"
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
        {% endblock %}
    </body>
</html>
